.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
	background: #545454;
}

textarea {
	resize: none;
}

input[type=number]{
    width: 50px;
}

a {
	text-decoration: none;
}

.logo {
	position: relative;
	padding: 12;
	font-size: 5vh;
	text-shadow: -5px 3px #87871e;
	color: #ccbe27;
}

.combs {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 570px;
	height: 535px;
	background: url("media/combs.png");
}

.highlight:hover{
	color: #e6d630;
}

.bar {	
	position: fixed;
	top: 50;
	left: 81vw;
	width: 10px;
	height: calc(100vh - 50px);
	border-radius: 50%;
	background: #3d3d3d;
}

.content {
	position: relative;
	width: 80vw;
	min-height: calc(100vh - 150px);
	background: rgba(115, 115, 115, 0.65);
	font-size: 2.3vh;
	color: #ffff00;
}

.header {
	
    border: none;
    color: #ffff00;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    font-size: 3.5vh;
    padding: 0.8vw;
    
}

.nav_button {
	
    border: none;
    color: #ccbe27;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.8vh;
    padding-left: 5vw;
    
}

.nav_bar {
	position: relative;
	margin-left: 3vw;
}